*{
    box-sizing: border-box ;
}
header{
    height:230px;
    width:100%;
}
#Main_part{
    background-color: rgb(197, 196, 196);
}
#Menu{
    background-color: black;
}
header ul{
    color: white;
    list-style-type: none;
    display: flex;
}
header h1{
    color:rgb(49, 49, 197);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 80px;
}
header p{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 30px;
}